/**
 * @name            Kuromi
 * @author          Cybork
 * @version         1.0.2
 * @description     Edgy
 * @updateURL       https://raw.githubusercontent.com/NinoNikoles/Discord-Themes/refs/heads/main/kuromi.theme.css
 * @downloadURL     https://raw.githubusercontent.com/NinoNikoles/Discord-Themes/refs/heads/main/kuromi.theme.css
 * @website         https://github.com/NinoNikoles/Discord-Themes
*/

@import url('https://NinoNikoles.github.io/Discord-Themes/main/main.css');


/* -- Settings -- */

:root {
  --background: url('https://NinoNikoles.github.io/Discord-Themes/assets/images/3720a07af3a64dd92590bfafdfeb1cda.jpg'); /* Background image */
  --backgroundblur: 0px; /* Background blur */
  --transparencyalpha: 0.7; /* Theme transparency */
  --messagetransparency: 0.4; /* Messages transparency */
  --font: Roboto; /* Font */

  --primary: rgba(163,106,227,1);
  --primary-dark: rgb(117, 43, 202);
}