@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    background-color: transparent;
}

:root {
    --transparencyalpha: 0.7; /* Theme transparency */
    --messagetransparency: 0.5; /* Messages transparency */
    --guildchanneltransparency: 0.25; /* Server list transparency */
    --memberlisttransparency: 0.4; /* Member list transparency */
	--font: Roboto; /* Font */

    --primary: rgba(1,102,214,1);
    --primary-dark: rgb(1, 22, 214,1);
    --white: #ffffff;

    --background: transparent;
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-tertiary: transparent;
    --background-dark: transparent;
    --background-alt: transparent;

    --background-modifier-selected: var(--primary);
    --background-modifier-hover: rgba(0, 0, 0, 0.5);

    --bg-base-primary: transparent;
    --bg-mod-faint: rgba(0,0,0,var(--messagetransparency));

    --backgroundblur: 0px;

    --interactive-normal: var(--white);
    --interactive-active: var(--white);
    --text-link: var(--primary);
    --channeltextarea-background: var(--primary);

    --header-primary: var(--white);
    --header-secondary: rgba(255,255,255,0.8);

    --header-bar-background: var(--primary);

    --channels-default: var(--header-primary);
    --channel-text-area-placeholder: var(--header-secondary);

	--text-normal: var(--white);
    --text-brand: var(--white);
    --text-muted: var(--header-secondary);

    --button-filled-brand-text: var(--white);
    --button-filled-brand-background: var(--primary);
    --button-filled-brand-background-hover: var(--primary-dark);
    --button-filled-brand-background-active: var(--primary-dark);

    --channel-icon: var(--white);
}

#app-mount {
	background: transparent;
}
  
#app-mount::before {
	content: "";
	width: 100%;
	height: 100%;
	background-image: var(--background);
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-filter: var(--backgroundblur);
}
  
#app-mount > div {
	background-color: rgba(0,0,0,var(--transparencyalpha));
}

#app-mount > div[class^="typeWindows"] {
	padding-top: 4px;
}

::-webkit-scrollbar-track,
#app-mount ::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb,
#app-mount ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--primary);
}

#app-mount [role="navigation"] {
    background-color: var(--header-bar-background);
}

::placeholder {
    color: rgba(255,255,255,0.8);
}

a {
    color: var(--white);
    font-weight: bold !important;
}

ol[data-list-id="chat-messages"] {
    padding-left: 16px;
}

li[class^="messageListItem"] {
    background-color: rgba(0,0,0,var(--messagetransparency));
    margin-top: 20px;
    border-radius: 10px;
}

li[class^="messageListItem"] > div {
    margin-top: 0px;
    padding: 12px 48px 12px 72px !important;
    border-radius: 10px;
}

li[class^="messageListItem"] > div::before {
    border-radius: 10px;
}

li[class^="messageListItem"] [class^="member"] {
    margin-right: 8px;
}

[class^="membersWrap"] > [class^="members"] > [role="list"] {
    background-color: rgba(0,0,0,var(--messagetransparency));
    border-radius: 10px;
}

[class^="membersWrap"] {
    opacity: 1;
}

[class^="divider"] > [class^="content"] {
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 5px 10px;
}